header, footer {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    left: 0;
}

img {
    object-fit: cover;
    height: auto;
}
