header,
footer {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  left: 0;
}

.container {
  position: absolute;
  left: 10%;
  top: 3%;
  right: 10%;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  object-fit: cover;
  height: auto;
}
